.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e4dcbc;
}

.container {
  width: 100%;
  height: 100%;
  max-width: 800px;
  max-height: 1200px;
}

/* header */
.header {
  height: 5%;
  background-color: #fdd000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home {
  margin: 1rem;
}
.title {
  margin: 1rem;
}
.lang {
  margin: 1rem;
}

/* category */
.category-nav {
  height: 5%;
  width: 100%;
  background-color: #fdd000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.category-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
  height: 100%;
}
.category-body {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}


.menu-body {
  height: 90%;
  background-color: lightgray;
}